DATABASE_URL="postgresql://neondb_owner:npg_ozB9wl0xajtW@ep-quiet-shadow-awowesnt-pooler.c-12.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="troque-por-uma-string-secreta-bem-grande-e-aleatoria"
PORT=3333
FRONTEND_URL="http://localhost:5173"
